/* common.css: 공통 유틸리티 클래스 */

html,
body {
  margin: 5;
  padding: 5;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.bold {
  font-weight: bold;
}
.hidden {
  display: none !important;
}
.center {
  text-align: center !important;
}
